/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

ol {
  margin-bottom: 1rem;
}

ol li {
  list-style-type: decimal;
}

.container .gridBlock .blockContent p {
  margin-bottom: 1rem;
}

.userShowcase {
  margin: 2rem 0;
  background: #eee;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.userShowcase .userLogo {
  background: #fff;
  padding: 1rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #eee;
}

.small {
  font-size: 0.8rem;
}

.mainContainer .wrapper .post .postHeader h1,
.mainContainer .wrapper .post h2,
.mainContainer .wrapper .post h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.mainContainer .wrapper .post .postHeader h1 {
  font-size: 32px;
}

.mainContainer .wrapper .post h2 {
  font-size: 24px;
}

.mainContainer .wrapper .post h3 {
  font-size: 20px;
  margin-top: 1.5em;
}
