<p style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #666;">
  &mdash;<br />
  You are recieving this email because you have enabled code review digest emails.<br />
  <%= link_to "Manage your subscription preferences", profile_url %>.
</p>
